header {
    background-color: var(--Amarillo) ;

}

.logo {
    width: 35%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.box {
    margin-left: 15px;
    margin-bottom: 10px;
}

header h3 {
    margin-bottom: 20px;
    margin-left: 30px;

}

.primerlista {
    margin-bottom: 10px;
}

a i {
    margin-left: 3px;
}

.burger-menu {
    text-align: center;
}


.burger-menu i {
    font-size: 20px;
    background-color: var(--Celeste);
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

